@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: 'Noto Sans', system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
    @apply bg-background-light dark:bg-background-dark text-text-main dark:text-gray-300 font-body overflow-x-hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply font-display;
}